
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {    
    --primary: #fb8500;
    --primary-light: #ffb703;
    --secondary: #023047;
    --accent:#219ebc;
    --dark-brown:#341413;
    --dark-blue: #050316;
    --gray-1: #798092;
    --gray-2:#E6E6ED;
    --white: #FFFFFF;

    /* font-size */
    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;

    --text-medium: 18px;
    --text-regular: 16px;
    --text-light: 13px;

    /* font weight */
    --font-weight-bold:700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular:400;
    --font-weight-light:300;

}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    /* background-image: linear-gradient(to right top, #fccc73, #fdd589, #fedd9f, #fee6b5, #ffeecb); */
  }

#menuToggle
{
  display: inline-block;
  margin-right: 10px; 
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: var(--white);
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: var(--primary-light);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--white);
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: var(--dark-blue);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 20px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.wrapper{
  margin: 0.5rem 5rem;
  padding: 1rem 2rem;
  background-color: var(--white);
  min-height: 80vh;
}
.grey-bg {  
  background-color: #F5F7FA;
}
.btn{
    border-radius: 6px;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-medium);
}
.footer{
  background-color: var(--gray-1);
  color: var(--white);
}
.btn-explore{
  background: #fffcd5;
  box-shadow: 4px 4px var(--primary-light), 9px 9px #151515;
  color: #151515;
  text-transform: lowercase;
  border: solid 2px #151515;
  text-decoration: none;
  padding: 15px 28px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  cursor: pointer;
  overflow: hidden;
  transition-delay: 0s !important;
  text-transform: uppercase !important;
  letter-spacing: 1.5px;
  font-family: sans-serif;
}
.btn-explore::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: #151515;
  z-index: -1;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.btn-explore:hover::before {
  width: 100%;
  left: 0;
  right: unset;
}
.btn-explore:hover {
  box-shadow: 0 0 #ffe00b, 0 0 #151515;
  color: white;
} 

.card-landing{
  padding: 3em 8em;
}
.btn-accent{
  background-color: var(--accent);
  color: var(--white);
  transition: background-color 0.3s, color 0.3s;
}
.btn-accent, .btn-light{
  border-radius: 50px;
}
.btn-accent:hover{
  background-color: #1c7e97;
  color: var(--white);
}

 
/* NAVBAR */
.navbar-brand{
  margin-right: auto;
}
.navbar-brand img{
    height: 50px;
    width: auto;
}
.navbar-brand span{
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
    color:var(--dark-brown);
}
.navbar{
    padding: 0;
}
.bx{
    margin-right: 10px;
    font-size: 24px;
}

section.hero{
    margin: 3rem 0;
}
.text-label,.text-hero-bold,.text-hero-regular{
    margin: 20px 0;
}
.text-footer {
  color: var(--white);
  font-size: var(--text-light);
  font-weight: var(--font-weight-light);
}
.text-label {
    color: var(--primary);
    font-size: var(--header-4);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}
.text-hero-bold{
    color: var(--dark-blue);
    font-size: var(--header-3);
    font-weight: var(--font-weight-bold);
    line-height: 60px;
}
.text-hero-regular{
    color: var(--gray-1);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}
.text-header{
  color: var(--dark-blue);
  font-size: var(--header-3);
  font-weight: var(--font-weight-semi-bold);
  line-height: 31px;
}
.cta{
    margin-top:1em;
}

/* MEDIA */
@media (min-width: 1399.98px){
    .container{
        width: 84%;
    }
}
@media (max-width:576px){
    .navbar{
        padding: 28px 0;
    }
    a.nav-link{
        margin-right: 7px 0;
    }
    section.hero{
        margin: 2rem 0;
        text-align: center;
    }
    .btn{
        display: block;
        margin: 1rem 0;
    }
    .ms-3{
        margin-left: 0 !important;
    }
    .text-label,.text-hero-bold,.text-hero-regular{
        text-align: center;
    }
    .text-hero-bold{
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }
}